    <div class="jumbotron home-splash">
        <div class="container">
            <br /><br />
            <h1>Better Entry Point = Better Profit</h1>
            <p>It's tough to pick an investment entry point. Let Stockorithm help you decide.</p>
            <div class="input-group">
              <input ng-model="tryItSymbol" id="tryItSymbol" type="text" class="form-control input-lg" placeholder="Stock Symbol or Name...">
              <span class="input-group-btn">
                <button ng-click="analyze.tryIt()" class="btn btn-success btn-lg" type="button">Try It!</button>
              </span>
            </div><!-- /input-group -->
            <!-- <p><input type="text" class="form-control" placeholder=""><a href="#/analyze" class="btn btn-success btn-lg" role="button">Try it &raquo;</a></p> -->
        </div>
    </div>
